# Python bytecode files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
.venv/
ENV/
*.env

# Pipenv
Pipfile.lock

# Python eggs
*.egg
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest
.cache/

# IDEs and editors
.vscode/
.idea/
*.swp

# macOS
.DS_Store
.AppleDouble
.LSOverride

# macOS Finder directory attributes
Icon?

# macOS specific metadata
._*

# Temporary files
*.log
*.bak
*.tmp

# Ruff cache (для лінтера Ruff)
.ruff_cache/

# FastAPI specific (якщо використовуєш Alembic для міграцій)
migrations/

# Other
*.pyo
*.pyd

# Project specific
CODE_IMPROVEMENTS.md
test.db
htmlcov/
.coverage
